In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns

In [2]:
#Import csv file
mdf= pd.read_csv('/Users/robertpatton/Desktop/Desktop - Robertâ€™s MacBook Pro/D210/hospital data analysis.csv', index_col=0)

In [3]:
mdf.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 984 entries, 1 to 1000
Data columns (total 9 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Age             984 non-null    int64
 1   Gender          984 non-null    object
 2   Procedure       984 non-null    object
 3   Condition       984 non-null    object
 4   Cost            984 non-null    int64
 5   Length_of_Stay  984 non-null    int64
 6   Readmission     984 non-null    object
 7   Outcome         984 non-null    object
 8   Satisfaction    984 non-null    int64
dtypes: int64(4), object(5)
memory usage: 76.9+ KB

In [4]:
# get unique value
mdf.Condition.unique()

array(['Heart Disease', 'Diabetes', 'Fractured Arm', 'Stroke', 'Cancer',
       'Hypertension', 'Appendicitis', 'Fractured Leg', 'Heart Attack',
       'Allergic Reaction', 'Respiratory Infection', 'Prostate Cancer',
       'Childbirth', 'Kidney Stones', 'Osteoarthritis'], dtype=object)

In [5]:
#assign integer to unique condition values
def get_condition_id(Condition): 
    if Condition == 'Heart Disease':
        return '1'
    if Condition == 'Diabetes':
        return '2'
    if Condition == 'Fractured Arm':
        return '3'
    if Condition == 'Stroke':
        return '4'
    if Condition == 'Cancer':
        return '5'
    if Condition == 'Hypertension':
        return '6'
    if Condition == 'Appendicitis':
        return '7'
    if Condition == 'Fractured Leg':
        return '8'
    if Condition == 'Heart Attack':
        return '9'
    if Condition == 'Allergic Reaction':
        return '10'
    if Condition == 'Respiratory Infection':
        return '11'
    if Condition == 'Prostate Cancer':
        return '12'
    if Condition == 'Childbirth':
        return '13'
    if Condition == 'Kidney Stones':
        return '14'
    if Condition == 'Osteoarthritis':
        return '15'

# Apply the get_condition_id function and create condition id column
mdf['Condition_ID'] = mdf['Condition'].apply(get_condition_id)

In [6]:
#assign integer to readmission values
def get_readmission_id(Readmission):
    if Readmission == 'Yes':
        return '1'
    if Readmission == 'No':
        return '2'

#apply the get_readmission_id function and create readmission id column
mdf['Readmission_ID']= mdf['Readmission'].apply(get_readmission_id)

In [7]:
#export csv file
mdf.to_csv(r'/Users/robertpatton/Desktop/D211_kaggle.csv')

In [8]:
mdf.head()

,Age,Gender,Procedure,Condition,Cost,Length_of_Stay,Readmission,Outcome,Satisfaction,Condition_ID,Readmission_ID
Patient_ID,,,,,,,,,,,
1,45,Female,Angioplasty,Heart Disease,15000,5,No,Recovered,4,1,2
2,60,Male,Insulin Therapy,Diabetes,2000,3,Yes,Stable,3,2,1
3,32,Female,X-Ray and Splint,Fractured Arm,500,1,No,Recovered,5,3,2
4,75,Male,CT Scan and Medication,Stroke,10000,7,Yes,Stable,2,4,1
5,50,Female,Surgery and Chemotherapy,Cancer,25000,10,No,Recovered,4,5,2